footer {
    background-color: #741018;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #deabaf;
}

.container {
    max-width: auto;
    margin: 0 auto;
}



@media screen and (max-width: 380px) {

    footer {
        font-size: 8px;
    }

    .container {
        margin: 0
    }
}